

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 590px;
	display: block;
	font-family: "Courier New", Courier, monospace !important;
}

body {
	background: #5d007d;
	background: linear-gradient(#4b0064a8,#490062e8), url("gplaypattern.png");
}

.container {
	padding-top: 30px;
    max-width: 600px;
    margin: auto;
    height: 100%;
    box-sizing: border-box;
}

.display {
	letter-spacing: 4px;
	font-size: 19px;
	background-color: #9bbc0f;
	background: linear-gradient(#809e00a6,#9bbc0fbb), url("p5.png");
    color: #1e4b1d;
    display: block;
    box-shadow: 0px 0px 10px #000 inset;
    padding: 5px;
    margin: 0 auto;
    width: 305px;
    height: 348px;

    border-radius: 13px;
    border: 5px inset #71487f;
}

.main {
	letter-spacing: -1.3px;
    white-space: pre !important;
}

.play {
	margin: 0;
    white-space: pre !important;
}

.hide {
	display: none;
}

.button-container {
	margin: auto;
	margin-top: 20px;
	width: 90%;
}

.col-4 {
	width: 33.333333%;
	margin: 0;
	display: inline-block;
	float: left;
	height: 70px;
}

.col-4 button {
	/*Copy chrome user agent stylesheet*/
	writing-mode: horizontal-tb !important;
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    font: 400 13.3333px Arial;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    padding: 1px 6px;

    width: 100%;
	height: 100%;
	display: block;
	margin: auto;
	border-width: 6px;
	background-color: #bfbfbf;
	font-size: 30px;
	color: #7d7d7d;
	border-radius: 36px;
}

button:active {
	border-style: inset;
}

button:focus {
	outline:0;
}

#start-button {
	height: 60%;
	width: 60%;
	margin-left: 0;
	font-size: 10px;
}

#help-button {
	height: 60%;
	width: 60%;
	margin-right: 0;
	font-size: 10px;
}

.blue {
	color: #ffffff;
    background: #0037d8;
}

.red {
	color: #ffffff;
    background: #960000;
}

.gold {
	color: #f9ff00;
    background: #000000;
}

#point-div {
	margin: auto;
	width: 121px;
}

pre {
	font-family: "Courier New", Courier, monospace !important;
}

@media (min-width: 768px) and (min-height: 727px) {
	.display {
	    letter-spacing: 7px;
	    font-size: 28px;
	    width: 471px;
		height: 510px;
	}

	#point-div {
		letter-spacing: 0;
	}
}