

html, body {
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 590px;
	display: block;
	font-family: "Courier New", Courier, monospace !important;
}

body {
	touch-action: manipulation;
	background: #5d007d;
	background: linear-gradient(#4b0064a8,#490062e8), url("image/gplaypattern.png");
}

th {
   border-bottom: 1px solid black
}

table {
	width: 100%;
	text-align: center;
	font-size: 15px;
}

::placeholder {
    color: #899b75;
    opacity: 1;
}

.container {
	padding-top: 30px;
    max-width: 600px;
    margin: auto;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.display {
	letter-spacing: 4px;
	font-size: 19px;
	background-color: #9bbc0f;
	background: linear-gradient(#809e00a6,#9bbc0fbb), url("image/p5.png");
    color: #1e4b1d;
    display: block;
    box-shadow: 0px 0px 10px #000 inset;
    padding: 5px;
    margin: 0 auto;
    width: 305px;
    height: 348px;

    border-radius: 13px;
    border: 5px inset #71487f;
}

.main {
	letter-spacing: -1.3px;
    white-space: pre !important;
}

.play {
	margin: 0;
    white-space: pre !important;
}

.play p {
	width: 80%;
    white-space: pre-wrap;
    margin: 10px auto;
    letter-spacing: 1px;
    text-align: center;
}

.play h2 {
	width: fit-content;
    margin: 30px auto;
}

.hide {
	display: none !important;
}

.button-container {
	margin: auto;
	margin-top: 20px;
	width: 90%;
}

.col-4 {
	width: 33.333333%;
	margin: 0;
	display: inline-block;
	float: left;
	height: 70px;
}

button {
	/*Copy chrome user agent stylesheet*/
	writing-mode: horizontal-tb !important;
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    font: 400 13.3333px;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    padding: 1px 6px;
}

.col-4 button {
    width: 100%;
	height: 100%;
	display: block;
	margin: auto;
	border-width: 6px;
	background-color: #b5b5b5;
	font-size: 30px;
	color: #FFFFFF;
	border-radius: 36px;
}

button:active {
	border-style: inset;
}

button:focus {
	outline:0;
}

#start-button {
	height: 60%;
	width: 60%;
	margin-left: 0;
	font-size: 10px;
}

#help-button {
	height: 60%;
	width: 60%;
	margin-right: 0;
	font-size: 10px;
}

#name-label {
	display: block;
    width: fit-content;
    letter-spacing: 0px;
    font-size: 16px;
    margin: auto;
}

#name-label input {
	padding: 0 10px;
    text-transform: uppercase;
    margin-left: 10px;
    background: #4e702a;
    border-radius: 6px;
    width: 146px;
    height: 25px;
    color: #fff;
    font-weight: bold;
}

.blue {
	color: #ffffff;
    background: #0037d8;
}

.red {
	color: #ffffff;
    background: #960000;
}

.gold {
	color: #f9ff00;
    background: #000000;
}

#point-div {
	margin: auto;
	width: 50%;
}

pre {
	font-family: "Courier New", Courier, monospace !important;
}

.super-mode {
	color: #fff;
	background-color: #33310085;
	font-size: 30px;
	width: 305px;
    height: 348px;
    position: absolute;
    top: 40px;
    letter-spacing: 0px;
    text-align: center;
    box-sizing: border-box;
}

.super-mode h3 {
	width: fit-content;
	margin: 142px auto;
	text-shadow: 0px 0px 40px;
}

.window-popup {
	display: block;
	width: 305px;
    height: 348px;
    background-color: #9bbc0f;
	background: linear-gradient(#809e00a6,#9bbc0fbb), url("image/p5.png");
    position: absolute;
    top: 40px;
    overflow: scroll;
    border: 5px double #000000;
    border-radius:  5px;
    padding: 10px;
    box-sizing: border-box;
    letter-spacing: 0px;
}

.window-popup h3 {
	display: block;
	margin: 5px auto;
	width: fit-content;
}
.window-popup p {
	font-size: 14px;
}
.window-popup button {
	display: block;
	margin: 13px auto;
	background: #b7b7b7;
}

.window-popup label {
	line-height: 1;
	font-size: 15px;
	display: block;
	width: fit-content;
    margin: auto;
}
.window-popup label input {
	width: 26px;
	height: 26px;
	margin-left: 20px;
}
#setting {
	padding-top: 62px;
}
#setting h3 {
	float: left;
}
#setting button {
	width: 170px;
}

#play-mode label {
	font-size: 40px;
	display: inline-block;
	float: left;
}

#play-mode button {
	display: inline-block;
	height: 40px;
	margin: 0;
	background: none;
	border: none;
	font-size: 30px;
}

#play-mode p {
	text-align: center;
	width: fit-content;
    max-width: 180px;
    margin: auto;
    margin-top: 160px;
    display: block;
    font-size: 17px;
}

#play-mode h4 {
	font-size: 18px;
    bottom: 5px;
    position: absolute;
    font-weight: normal;
    width: 95%;
    text-align: center;
}

#help button, #highscore button {
	float: right;
	margin: 0;
}

@media (min-width: 768px) and (min-height: 727px) {
	.display {
	    letter-spacing: 7px;
	    font-size: 28px;
	    width: 471px;
		height: 510px;
	}

	#point-div {
		letter-spacing: 0;
	}

	.super-mode {
		width: 471px;
		height: 510px;
	}
	.super-mode h3 {
		margin-top: 212px;
		font-size: 52px;
	}

	.window-popup {
		width: 471px;
		height: 510px;
		font-size: 21px;
	}
	.window-popup p {
		font-size: 21px;
	}
	.window-popup h3 {
		font-size: 35px;
	}
	.window-popup label input {
    	width: 32px;
   		height: 40px;
	}

	#setting button {
		width: 306px;
	    height: 50px;
	    margin: 20px auto;
	}

	#play-mode label {
		font-size: 58px;
	}
	#play-mode button {
		font-size: 50px;
	}
	#play-mode p {
		max-width: 300px;
	    margin-top: 200px;
	    font-size: 25px;
	}
}